产品净值分析

In [1]:
import numpy as np
import os
import tushare as ts
import pandas as pd
import xlrd
import empyrical as ep
import matplotlib.pyplot as plt
from matplotlib import rc

from fof_utils import value_to_return, read_sheet, weight_by_params, stats_df

rc('mathtext', default='regular')

from dateutil.relativedelta import relativedelta
import warnings

warnings.filterwarnings("ignore")


plt.rcParams['font.family'] = ['Microsoft YaHei']
plt.rcParams['font.sans-serif'] = ['Microsoft YaHei']

/home/hfin/anaconda3/envs/rqqa/lib/python3.7/site-packages/pyfolio/pos.py:27: UserWarning: Module "zipline.assets" not found; mutltipliers will not be applied to position notionals.
  'Module "zipline.assets" not found; mutltipliers will not be applied' +

# 读入产品数据

- excel格式，一个sheet对应一个产品
- sheet格式，第一列为日期，第二列为累计净值

In [2]:
# 设置工作区目录
workspace = os.path.abspath('../某公司产品')

In [3]:
file_path = os.path.join(workspace, '同类产品表.xlsx')
total = read_sheet(file_path)
total

读取Index(['日期', '圭源蒙玺启航'], dtype='object')
读取Index(['日期', '纯达二期'], dtype='object')

              圭源蒙玺启航    纯达二期
日期
2017-07-18  1.000000     NaN
2017-07-19  1.000667     NaN
2017-07-20  1.001333     NaN
2017-07-21  1.002000     NaN
2017-07-24  1.001200     NaN
2017-07-25  1.000400     NaN
2017-07-26  0.999600     NaN
2017-07-27  0.998800     NaN
2017-07-28  0.998000     NaN
2017-07-31  0.998500     NaN
2017-08-01  0.999000     NaN
2017-08-02  0.999500     NaN
2017-08-03  1.000000     NaN
2017-08-04  1.000500     NaN
2017-08-07  1.001000     NaN
2017-08-08  1.001500     NaN
2017-08-09  1.002000     NaN
2017-08-10  1.002500     NaN
2017-08-11  1.003000     NaN
2017-08-14  1.003400     NaN
2017-08-15  1.003800     NaN
2017-08-16  1.004200     NaN
2017-08-17  1.004600     NaN
2017-08-18  1.005000     NaN
2017-08-21  1.005200     NaN
2017-08-22  1.005400     NaN
2017-08-23  1.005600     NaN
2017-08-24  1.005800     NaN
2017-08-25  1.006000     NaN
2017-08-28  1.006600     NaN
...              ...     ...
2019-08-23  1.324000  1.2300
2019-08-26  1.332400  1.2380
2019-08-27  1.340800  1.2460
2019-08-28  1.349200  1.2540
2019-08-29  1.357600  1.2620
2019-08-30  1.366000  1.2700
2019-09-02  1.372400  1.2804
2019-09-03  1.378800  1.2908
2019-09-04  1.385200  1.3012
2019-09-05  1.391600  1.3116
2019-09-06  1.398000  1.3220
2019-09-09  1.396500  1.3200
2019-09-10  1.395000  1.3180
2019-09-11  1.393500  1.3160
2019-09-12  1.392000  1.3140
2019-09-16  1.391400  1.3128
2019-09-17  1.390800  1.3116
2019-09-18  1.390200  1.3104
2019-09-19  1.389600  1.3092
2019-09-20  1.389000  1.3080
2019-09-23  1.388833  1.3075
2019-09-24  1.388667  1.3070
2019-09-25  1.388500  1.3065
2019-09-26  1.388333  1.3060
2019-09-27  1.388167  1.3055
2019-09-30  1.388000  1.3050
2019-10-08  1.386750  1.3035
2019-10-09  1.385500  1.3020
2019-10-10  1.384250  1.3005
2019-10-11  1.383000  1.2990

[544 rows x 2 columns]

# 计算日收益率

In [4]:
returns = total.copy().apply(value_to_return)
returns.tail()

              圭源蒙玺启航      纯达二期
日期
2019-09-30 -0.000120 -0.000383
2019-10-08 -0.000901 -0.001149
2019-10-09 -0.000901 -0.001151
2019-10-10 -0.000902 -0.001152
2019-10-11 -0.000903 -0.001153

# 表现统计

指标说明
> 列：每列为每个产品，mean表示按行计算指标均值，max_min表示按行计算指标的最大值减最小值

> 行：
- Annual return 年化收益率
- Cumulative returns累计收益率
- Annual volatility年化波动率
- Sharpe ratio夏普比率
- Calmar ratio卡玛比率
- Stability稳定性（净值线性回归的R2）
- Max drawdown最大回撤
- Omega ratio
- Sortino ratio
- Skew
- Daily value at risk（日收益率均值减去两倍标准差）
- VaR 在险价值（日收益率的5%分位数）
- Net drawdown in %	最大回撤百分比
- Peak date 回撤前高点日期
- Valley date 最大回撤日期
- Recovery date 净值恢复日期
- Duration	 持续天数

## 同类产品的统计

In [5]:
use_returns = returns.copy()
sta = stats_df(use_returns)
sta.to_csv(os.path.join(workspace,'统计指标+all.csv'), encoding='gbk')
sta

,圭源蒙玺启航,纯达二期,mean,max_min
Annual return,0.162396,0.575596,0.368996,0.4132
Cumulative returns,0.383,0.299,0.341000,0.084
Annual volatility,0.0500512,0.068698,0.059375,0.0186468
Sharpe ratio,3.03229,6.65781,4.845049,3.62553
Calmar ratio,4.29995,11.7631,8.031520,7.46314
Stability,0.910064,0.956818,0.933441,0.0467541
Max drawdown,-0.0377668,-0.0489324,-0.043350,0.0111656
Omega ratio,2.10508,3.85951,2.982299,1.75443
Sortino ratio,8.07185,18.764,13.417936,10.6922
Skew,3.09489,0.728461,1.911675,2.36643
Kurtosis,14.6412,-0.218083,7.211582,14.8593
Tail ratio,1.95987,2.57509,2.267482,0.615223
Daily value at risk,-0.00570359,-0.00684014,-0.006272,0.00113655
VaR,-0.00283417,-0.00388013,-0.003357,0.00104596
Net drawdown in %,3.77668,4.89324,4.334961,1.11656
Peak date,2018-08-17 00:00:00,2019-06-06 00:00:00,NaN,293 days 00:00:00
Valley date,2018-10-26 00:00:00,2019-06-21 00:00:00,NaN,238 days 00:00:00
Recovery date,2018-10-31 00:00:00,2019-07-01 00:00:00,NaN,243 days 00:00:00
Duration,54,18,36.000000,36

## 近3年同类产品的统计

In [6]:
use_returns = returns[(returns.index.max()-relativedelta(years=3)).strftime('%Y-%m-%d'):]
sta = stats_df(use_returns)
sta.to_csv(os.path.join(workspace,'统计指标+近3年.csv'), encoding='gbk')
sta

,圭源蒙玺启航,纯达二期,mean,max_min
Annual return,0.162396,0.575596,0.368996,0.4132
Cumulative returns,0.383,0.299,0.341000,0.084
Annual volatility,0.0500512,0.068698,0.059375,0.0186468
Sharpe ratio,3.03229,6.65781,4.845049,3.62553
Calmar ratio,4.29995,11.7631,8.031520,7.46314
Stability,0.910064,0.956818,0.933441,0.0467541
Max drawdown,-0.0377668,-0.0489324,-0.043350,0.0111656
Omega ratio,2.10508,3.85951,2.982299,1.75443
Sortino ratio,8.07185,18.764,13.417936,10.6922
Skew,3.09489,0.728461,1.911675,2.36643
Kurtosis,14.6412,-0.218083,7.211582,14.8593
Tail ratio,1.95987,2.57509,2.267482,0.615223
Daily value at risk,-0.00570359,-0.00684014,-0.006272,0.00113655
VaR,-0.00283417,-0.00388013,-0.003357,0.00104596
Net drawdown in %,3.77668,4.89324,4.334961,1.11656
Peak date,2018-08-17 00:00:00,2019-06-06 00:00:00,NaN,293 days 00:00:00
Valley date,2018-10-26 00:00:00,2019-06-21 00:00:00,NaN,238 days 00:00:00
Recovery date,2018-10-31 00:00:00,2019-07-01 00:00:00,NaN,243 days 00:00:00
Duration,54,18,36.000000,36

## 近1年同类产品的统计

In [7]:
use_returns = returns[(returns.index.max()-relativedelta(years=1)).strftime('%Y-%m-%d'):]
sta = stats_df(use_returns)
sta.to_csv(os.path.join(workspace,'统计指标+近1年.csv'), encoding='gbk')
sta

,圭源蒙玺启航,纯达二期,mean,max_min
Annual return,0.160873,0.575596,0.368234,0.414723
Cumulative returns,0.155388,0.299,0.227194,0.143612
Annual volatility,0.0517911,0.068698,0.060245,0.0169068
Sharpe ratio,2.9068,6.65781,4.782305,3.75101
Calmar ratio,4.81522,11.7631,8.289154,6.94787
Stability,0.726552,0.956818,0.841685,0.230266
Max drawdown,-0.0334093,-0.0489324,-0.041171,0.0155231
Omega ratio,1.73005,3.85951,2.794784,2.12946
Sortino ratio,6.52517,18.764,12.644595,12.2389
Skew,1.70905,0.728461,1.218755,0.980587
Kurtosis,4.58133,-0.218083,2.181626,4.79942
Tail ratio,1.83513,2.57509,2.205110,0.739967
Daily value at risk,-0.00592767,-0.00684014,-0.006384,0.000912475
VaR,-0.0034107,-0.00388013,-0.003645,0.000469433
Net drawdown in %,3.34093,4.89324,4.117082,1.55231
Peak date,2019-04-12 00:00:00,2019-06-06 00:00:00,NaN,55 days 00:00:00
Valley date,2019-05-10 00:00:00,2019-06-21 00:00:00,NaN,42 days 00:00:00
Recovery date,2019-08-07 00:00:00,2019-07-01 00:00:00,NaN,37 days 00:00:00
Duration,84,18,51.000000,66

# 同类产品合成

## 等权法

- 计算原始数据，有缺失值的产品不参与加权。

In [8]:
new_returns = returns.copy()
new_returns['new'] = returns.mean(axis=1)
new_value = new_returns.cumsum()+1.0
new_value.to_csv(os.path.join(workspace,'净值+等权合成.csv'), encoding='gbk')
new_value

              圭源蒙玺启航      纯达二期       new
日期
2017-07-18       NaN       NaN       NaN
2017-07-19  1.000667       NaN  1.000667
2017-07-20  1.001333       NaN  1.001333
2017-07-21  1.001999       NaN  1.001999
2017-07-24  1.001200       NaN  1.001200
2017-07-25  1.000401       NaN  1.000401
2017-07-26  0.999602       NaN  0.999602
2017-07-27  0.998801       NaN  0.998801
2017-07-28  0.998000       NaN  0.998000
2017-07-31  0.998501       NaN  0.998501
2017-08-01  0.999002       NaN  0.999002
2017-08-02  0.999503       NaN  0.999503
2017-08-03  1.000003       NaN  1.000003
2017-08-04  1.000503       NaN  1.000503
2017-08-07  1.001003       NaN  1.001003
2017-08-08  1.001502       NaN  1.001502
2017-08-09  1.002001       NaN  1.002001
2017-08-10  1.002500       NaN  1.002500
2017-08-11  1.002999       NaN  1.002999
2017-08-14  1.003398       NaN  1.003398
2017-08-15  1.003796       NaN  1.003796
2017-08-16  1.004195       NaN  1.004195
2017-08-17  1.004593       NaN  1.004593
2017-08-18  1.004991       NaN  1.004991
2017-08-21  1.005190       NaN  1.005190
2017-08-22  1.005389       NaN  1.005389
2017-08-23  1.005588       NaN  1.005588
2017-08-24  1.005787       NaN  1.005787
2017-08-25  1.005986       NaN  1.005986
2017-08-28  1.006583       NaN  1.006583
...              ...       ...       ...
2019-08-23  1.283274  1.208320  1.383980
2019-08-26  1.289618  1.214824  1.390404
2019-08-27  1.295922  1.221286  1.396787
2019-08-28  1.302187  1.227706  1.403130
2019-08-29  1.308413  1.234086  1.409433
2019-08-30  1.314601  1.240425  1.415696
2019-09-02  1.319286  1.248614  1.422133
2019-09-03  1.323949  1.256736  1.428526
2019-09-04  1.328591  1.264793  1.434876
2019-09-05  1.333211  1.272786  1.441182
2019-09-06  1.337810  1.280715  1.447446
2019-09-09  1.336737  1.279202  1.446153
2019-09-10  1.335663  1.277687  1.444859
2019-09-11  1.334588  1.276170  1.443562
2019-09-12  1.333511  1.274650  1.442264
2019-09-16  1.333080  1.273737  1.441592
2019-09-17  1.332649  1.272823  1.440919
2019-09-18  1.332218  1.271908  1.440246
2019-09-19  1.331786  1.270992  1.439573
2019-09-20  1.331354  1.270075  1.438898
2019-09-23  1.331234  1.269693  1.438647
2019-09-24  1.331114  1.269311  1.438396
2019-09-25  1.330994  1.268928  1.438145
2019-09-26  1.330874  1.268546  1.437893
2019-09-27  1.330754  1.268163  1.437642
2019-09-30  1.330634  1.267780  1.437390
2019-10-08  1.329734  1.266630  1.436365
2019-10-09  1.328832  1.265480  1.435339
2019-10-10  1.327930  1.264327  1.434312
2019-10-11  1.327027  1.263174  1.433284

[544 rows x 3 columns]

## 加权法

- 设置权重，有缺失值的产品不参与加权，并重新将参与加权的产品权重归一化，保持产品间比例不变。
- weight与returns数据结构保持一致。

In [9]:
# 设置时段
new_returns = returns['2018-01-01':'2019-10-30'].copy()
# 设置权重
weight = [0.6,0.5]
weight = pd.Series(weight, index=new_returns.columns)

new_returns['new'] = new_returns.apply(weight_by_params, axis=1, args=(weight,))
# 保存
new_value = new_returns.cumsum()+1.0
new_value.to_csv(os.path.join(workspace,'净值+加权合成.csv'), encoding='gbk')
new_value

              圭源蒙玺启航      纯达二期       new
日期
2018-01-02  0.999577       NaN  0.999577
2018-01-03  0.999155       NaN  0.999155
2018-01-04  0.998732       NaN  0.998732
2018-01-05  0.998308       NaN  0.998308
2018-01-08  0.997885       NaN  0.997885
2018-01-09  0.997461       NaN  0.997461
2018-01-10  0.997038       NaN  0.997038
2018-01-11  0.996614       NaN  0.996614
2018-01-12  0.996190       NaN  0.996190
2018-01-15  0.995765       NaN  0.995765
2018-01-16  0.995341       NaN  0.995341
2018-01-17  0.994916       NaN  0.994916
2018-01-18  0.994492       NaN  0.994492
2018-01-19  0.994067       NaN  0.994067
2018-01-22  0.994287       NaN  0.994287
2018-01-23  0.994507       NaN  0.994507
2018-01-24  0.994728       NaN  0.994728
2018-01-25  0.994948       NaN  0.994948
2018-01-26  0.995168       NaN  0.995168
2018-01-29  0.995389       NaN  0.995389
2018-01-30  0.995609       NaN  0.995609
2018-01-31  0.995829       NaN  0.995829
2018-02-01  0.996049       NaN  0.996049
2018-02-02  0.996269       NaN  0.996269
2018-02-05  0.996489       NaN  0.996489
2018-02-06  0.996709       NaN  0.996709
2018-02-07  0.996929       NaN  0.996929
2018-02-08  0.997149       NaN  0.997149
2018-02-09  0.997368       NaN  0.997368
2018-02-12  0.997588       NaN  0.997588
...              ...       ...       ...
2019-08-23  1.269345  1.208320  1.360897
2019-08-26  1.275690  1.214824  1.367314
2019-08-27  1.281994  1.221286  1.373690
2019-08-28  1.288259  1.227706  1.380025
2019-08-29  1.294485  1.234086  1.386321
2019-08-30  1.300672  1.240425  1.392577
2019-09-02  1.305357  1.248614  1.398855
2019-09-03  1.310021  1.256736  1.405091
2019-09-04  1.314663  1.264793  1.411285
2019-09-05  1.319283  1.272786  1.417438
2019-09-06  1.323882  1.280715  1.423551
2019-09-09  1.322809  1.279202  1.422278
2019-09-10  1.321735  1.277687  1.421003
2019-09-11  1.320659  1.276170  1.419727
2019-09-12  1.319583  1.274650  1.418449
2019-09-16  1.319152  1.273737  1.417799
2019-09-17  1.318721  1.272823  1.417148
2019-09-18  1.318289  1.271908  1.416497
2019-09-19  1.317858  1.270992  1.415845
2019-09-20  1.317426  1.270075  1.415193
2019-09-23  1.317306  1.269693  1.414954
2019-09-24  1.317186  1.269311  1.414715
2019-09-25  1.317066  1.268928  1.414475
2019-09-26  1.316946  1.268546  1.414236
2019-09-27  1.316826  1.268163  1.413997
2019-09-30  1.316706  1.267780  1.413757
2019-10-08  1.315805  1.266630  1.412743
2019-10-09  1.314904  1.265480  1.411729
2019-10-10  1.314002  1.264327  1.410713
2019-10-11  1.313099  1.263174  1.409696

[430 rows x 3 columns]